#!/usr/bin/env python
# -*- coding: utf-8 -*-

server="https://matrix.org"
username="zabbix"
password="XXXXXXXX"

log_path="/var/log/matrix/matrix_send_message.log"
email_server="mail.corp.ru"
email_admin=["admin@corp.ru"]

DEBUG=True
